body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.comments-counter {
    color: #337ab7; padding-left: 10px;
}

.in-categories {
    font-size: 0.7em;
}

.user-header-admin-panel {
    margin-top: 0;
}