<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin panel</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/blog-home.css" rel="stylesheet">
</head>
<body>
<!-- Page Content -->
<% include includes/header_admin.html %>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
                <a class="list-group-item active" href="#navbar">Dashboard</a>
                <a class="list-group-item" href="/admin/posts">Posts</a>
                <a class="list-group-item" href="/admin/categories">Categories</a>
                <a class="list-group-item" href="#tables">Tables</a>
                <a class="list-group-item" href="#forms">Forms</a>
                <a class="list-group-item" href="#navs">Navs</a>
                <a class="list-group-item" href="#indicators">Indicators</a>
                <a class="list-group-item" href="#progress-bars">Progress bars</a>
                <a class="list-group-item" href="#containers">Containers</a>
                <a class="list-group-item" href="#dialogs">Dialogs</a>
            </div>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <% include ../includes/search.html %>
            <% include ../includes/categories.html %>
            <% include ../includes/side_widget_well.html %>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistic</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <td>Posts</td>
                            <td><i class="icon-headphones"></i>52</td>
                        </tr>
                        <tr>
                            <td>Categories:</td>
                            <td><i class="icon-envelope"></i> 6</td>
                        </tr>
                        <tr>
                            <td>Comments</td>
                            <td><i class="icon-headphones"></i>4</td>
                        </tr>
                        <tr>
                            <td>Users</td>
                            <td><i class="icon-headphones"></i>2</td>
                        </tr>
                        <tr>
                            <td>Web-site:</td>
                            <td><i class="icon-retweet"></i> <a href="https://google.com">https://google.com</a></td>
                        </tr>
                        </table>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
    <% include ../includes/footer.html %>
</div>
<!-- /.container -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
