<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin panel</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/blog-home.css" rel="stylesheet">
</head>
<body>
<!-- Page Content -->
<% include includes/header_admin.html %>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
                <a class="list-group-item active" href="/admin">Dashboard</a>
                <a class="list-group-item" href="/admin/posts">Posts</a>
                <a class="list-group-item" href="/admin/categories">Categories</a>
                <a class="list-group-item" href="#tables">Tables</a>
                <a class="list-group-item" href="#forms">Forms</a>
                <a class="list-group-item" href="#navs">Navs</a>
                <a class="list-group-item" href="#indicators">Indicators</a>
                <a class="list-group-item" href="#progress-bars">Progress bars</a>
                <a class="list-group-item" href="#containers">Containers</a>
                <a class="list-group-item" href="#dialogs">Dialogs</a>
            </div>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistic</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <td>Posts</td>
                            <td><i class="icon-headphones"></i><%= dataCounter.posts %></td>
                        </tr>
                        <tr>
                            <td>Categories:</td>
                            <td><i class="icon-envelope"></i><%= dataCounter.categories %></td>
                        </tr>
                        <tr>
                            <td>Comments</td>
                            <td><i class="icon-headphones"></i><%= dataCounter.comments %></td>
                        </tr>
                        <tr>
                            <td>Users</td>
                            <td><i class="icon-headphones"></i><%= dataCounter.users %></td>
                        </tr>
                    </table>
                    <canvas id="chart" width="200" height="200"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <% include includes/recent_comment.html %>
            <% include includes/recent_user.html %>
        </div>
    </div>
    <!-- /.row -->
    <% include ../includes/footer.html %>
</div>
<!-- /.container -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>

<script>
    var ctx = document.getElementById("chart");
    var chartData = JSON.parse('<%- JSON.stringify(dataForChart) %>');
    var data = {
        labels: chartData.labels,
        datasets: [
            {
                data: chartData.counters,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56",
                    "#077D0B"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56",
                    "#077D0B"
                ]
            }]
    };
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data
    });
</script>
</body>
</html>
