<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Home - Start Bootstrap Template</title>
    <!--<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">-->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!--<link href="/public/css/blog-home.css" rel="stylesheet">-->
    <link href="/public/css/blog-home.css" rel="stylesheet">

</head>
<body>
<% include includes/nav.html %>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="page-header">
                Page Heading
                <% if (page) { %>
                <%= page %>
                <%= rowCounter %>
                <% } %>
            </h1>
            <% posts.forEach(function(post){ %>
            <h2><a href="#"><%= post.title %></a></h2>
            <p class="lead">by <a href="index.php"><%= post.author_name %></a>
                <% if (post.categories) { %>
                <span style="font-size: 0.7em;"> in categories:
                    <% post.categories.forEach(function(category, index, arr){ %>
                    <a href="#"><%= category.category_name %></a><% if(index !== arr.length-1){ %>, <% } %>
                    <% }) %>
                </span>
                <% } %>
            </p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.date %></p>
            <hr>
            <%- post.content %>
            <a class="btn btn-primary" href="/view_post/<%= post.post_id %>">Read More
                <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
            <% }) %>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <% include includes/search.html %>
            <% include includes/categories.html %>
            <% include includes/side_widget_well.html %>
        </div>
    </div>
    <!-- /.row -->

    <nav>
        <ul class="pagination">

            <% if (paginationObj.prevPage === 0) { %>
            <li class="disabled"><span aria-hidden="true">«</span></li>
            <% } else{ %>
            <li><a href="/page/<%= paginationObj.prevPage %>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <% } %>

            <% for(var i = paginationObj.from; i <= paginationObj.to; i++) { %>
            <li class="<% if (i === paginationObj.currentPage) { %><%= 'active' %><% } %>"><a href='/page/<%= i %>'>
            <%= i %></a></li><% } %>

            <% if (paginationObj.nextPage === 0) { %>
            <li class="disabled"><span aria-hidden="true">»</span></li>
            <% } else{ %>
            <li><a href="/page/<%= paginationObj.nextPage %>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            <% } %>
        </ul>
    </nav>

    <% include includes/footer.html %>
</div>
<!-- /.container -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
