<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Test post 123</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/blog-home.css" rel="stylesheet">
</head>
<body>
<% include includes/nav.html %>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg-8">
            <h1><%= title %></h1>
            <p class="lead">by <a href="#"><%= author %></a></p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Posted on <%= date %></p>
            <hr>
            <%- content %>
            <hr>
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <hr>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <% include includes/search.html %>
            <% include includes/categories.html %>
            <% include includes/side_widget_well.html %>
        </div>
    </div>
    <!-- /.row -->
    <% include includes/footer.html %>
</div>
<!-- /.container -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
